@font-face {
  font-family: Aileron;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/aileron-latin-300-normal.woff2') format('woff2');
}

@font-face {
  font-family: Aileron;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/aileron-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: Aileron;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/aileron-latin-700-normal.woff2') format('woff2');
}
